* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 10vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 10vh;
}

header {
    background-color: rgb(0,130,168);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    z-index: 1;
}

#company-logo {
    width: 10vh;
}

#company-name {
    font-size: 2.3vw;
}

header a {
    font-size: 1.5vw;
}

h2 {
    border-bottom: 5px solid lightblue;
}

#nav-bar {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    font-size: max(1.7vw, 10px);
}

.img-carousel {
    max-width: 1000px;
    margin: auto;
}

h4 {
    text-align: center;
}

.fila {
    display: flex;
    justify-content: space-between;
}

.input-modal {
    width: 60%;
}

label, input {
    margin-bottom: 10px;;
}

footer {
    background-color: rgb(0,130,168);
    padding-bottom: 1px;
}