* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 130, 168);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    z-index: 1;
}

#company-logo {
    width: 10vh;
}

#company-name {
    font-size: 2.3vw;
    padding-left: 15%;
}

#nav-bar {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    font-size: max(1.7vw, 10px);
}

nav a {
    font-size: 1.5vw;
}

main {
    margin-top: 10vh;
}

.asientos,
#datos-reserva,
.col {
    display: flex;
    justify-content: space-between;
}

#datos-reserva {
    width: max(50%, 550px);
    padding: 10px;
}

.col {
    padding-bottom: 10px;
}

.col label {
    padding-right: 10px;
}

.asientos-div {
    width: 600px;
    margin: auto;
    padding: 10px;
}

.asiento {
    color: black;
    text-decoration: none;
    padding: 25px;
    position: relative;
    display: inline-block;
    border-radius: 40% 40% 20% 20%;
    border: 2px black solid;
}

.comun {
    background-color: gray;
}

.ejecutivo {
    background-color: gold;
}

.asiento:hover {
    color: white;
}

.comun:hover {
    background-color: darkgray;
}

.ejecutivo:hover {
    background-color: goldenrod;
}

.activo {
    color: white;
}

.comun.activo {
    background-color: darkgray;
}

.ejecutivo.activo {
    background-color: goldenrod;
}

#boton-div {
    padding-bottom: 15px;
}

#pago-reserva {
    width: max(30%, 400px);
    padding: 10px;
}

footer {
    background-color: rgb(0, 130, 168);
    height: 15vh;
}