* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 130, 168);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    z-index: 1;
}

#company-logo {
    width: 10vh;
}

#company-name {
    font-size: 2.3vw;
    padding-left: 15%;
}

#nav-bar {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    font-size: max(1.7vw, 10px);
}

nav a {
    font-size: 1.5vw;
}

main {
    margin-top: 10vh;
}

.datos-div {
    width: max(30%, 600px);
}

img {
    width: 100px;
}
